.card-container{
  padding: 0%;
  margin-bottom: 2%;
}

.card-content{
  margin: 2%;
  height: 100%;
}

.my-header{
  margin-top: 10px;
  text-align: center;
}

.costum-button{
  width: 100%;
}

.link-button{
  width:50%;
}

.button-wraper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-wraper{
  margin-top: 2%;
}
.about-wraper{
  text-align: center;
  margin-top: 2%;
}
